/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.flex{
    display: flex;
    
}



/* starts  */
.card-container{
    display:flex;
    /* margin-left:180px ; */
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8e8;
    padding: 20px;
    width:680px;
    background-color: white;
    font-family: 'Caladea', serif;
     
}
.card-container:hover{
    background-color: #fbfbfb;
}
a{
    text-decoration: none;
    color:black;
}

.image-container{
    vertical-align: bottom;
}
.content-container{
    width:600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

#root{
    background-color: #F3F3F3;
}
.para-text{
    font-size: 16px;
    padding-bottom: 10px;
    color:rgb(142,115,147)
}
.content-heading{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* Comment button container */
.commentBtn-container{
    display: flex;
    align-items: center;
    border: 1px solid #e8e8e8e8;
    padding:5px 12px;
    font-size: 13px;
    font-weight: 400;
    color: #6F6F6F;
    border-radius: 4px;
}
.commentBtn-container:hover{
    background-color: rgba(233, 233, 233, 0.993);
}
.cards-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    width: 100%;
    box-sizing: border-box;

}
.tags{
    padding: 0 10px;
    font-size: 12px;
    color: rgb(159,115,160);
}
.mini-section-cards{
    padding-left: 10px;
    display: flex;
    align-items: center;
    
}
/* upvote btn */
.upvote-btn{
    border: 1px solid #e8e8e8e8;
    padding: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
.upvote-btn:hover{
    background-color: rgba(233, 233, 233, 0.993);
}
.image-div{
    width: 40px;
}
.logo{
    width: 100%;
}
.wrapper{
    max-width: 1070px;
    margin: 0 auto;
    
}
body{
    background-color: white;
}
.header-outer-container{
    
    background-color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.searchBox{
    background: url("./assets/search.svg") no-repeat left 4px center;
    /* padding-left: 30px; */
    width:60%;
    margin:0 20px;
    border: 1px solid rgb(232,232,232);
    border-radius:5px;
    padding:10px 15px 10px 30px;
}
.navigation-container{
    display:flex
}
.link-container{
    /* border: 1px solid rgb(232,232,232); */
    padding: 15px;
}
.link-container>a{
    color: rgb(127,127,127);
    font-family: 'Caladea', serif;
    font-family: 'Playfair Display', serif;
    font-weight: 5  00;
}
.link-container>a:hover
{
    color: rgb(92, 90, 90);
}
.profile-links-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.profile-link{
    padding:0 5px 0 5px;
    border-radius: 50%;
}

.people-container{
    /* background-color: white; */
    padding: 20px;
    border: none;
    /* margin: 5px; */
}



.aside-container{
    background-color: white;
    border: 1px  solid #e8e8e8e8;
    border-radius: 8px;
    margin-bottom: 12px;
    

}
.secondary-container-link{
    font-weight: 700;
    color: rgb(218,85,47);
    font-size: 12px;
    font-family: 'Caladea', serif;
    font-family: 'Playfair Display', serif;
    word-spacing: 1.2px;
    cursor: pointer;
}
.secondary-container-link:hover{
    text-decoration: underline;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 2px -2px #f0f0f0;
       -moz-box-shadow: 0 8px 2px -2px #f0f0f0;
            box-shadow: 0 8px 2px -6px #f0f0f0;
}
.one-edge-shadow-extra{
    -webkit-box-shadow: 0 8px 2px -2px #dddddd;
       -moz-box-shadow: 0 8px 2px -2px #dddddd;
            box-shadow: 0 8px 2px -6px #dddddd;
}
.aside-outer-contianer{
    margin-left: 30px;
    box-sizing: border-box;
    
}
.radio-container{
    padding: 10px 0;
   
}
.radio-inner-container{
    /* padding: 10px; */
    display: flex;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    background-color: white;
    border: 1px solid #e8e8e8e8;
    border-radius:5px;
    cursor: pointer;
}
.headspin{
    color: rgb(244,149,32);
    font-weight: 700;
    padding-left: 10px;
    font-size: 14px;
}
.radio-container-sponsored{
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
}
.radio-image{
    width: 100px;
    height:70px;
    background-color: yellow;  
}
.radio-container-para{
    padding: 10px ;
}
.radio-svg{
    position: relative;;
    z-index: 2;
    width: 30px;
    height: 30px;
    right: 30px;
}
.newsletter-innercontainer{
    border: 1px solid #e8e8e8e8;
    background-color: white;
    border-radius: 6px;
}
.form-section{
    background-color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 6px;
}
.form-section>input{
    width: 85%;
    height: 30px;
    padding: 10px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #e8e8e8e8;
}
.form-submit-btn{
    background-color: rgb(218,85,47);
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.form-outer-container{
    padding: 25px 0;
}
/*  */
.button-indivitual{
    width: 85%;
    color: white;
    background-color: rgb(218,85,47);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}
.button-indivitual:hover{
    background-color: rgb(187, 49, 10);;
}
.outer-container{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    vertical-align: top;
}